/* Force the body window to span full height and remove default margins */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: #000;
}

/* Centers the inner container vertically and horizontally on the viewport screen */
.page-center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/* Keeps the code content organized on the left within its centered area block */
.task-content {
  display: block;
  text-align: left;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

form {
  display: block;
  margin-top: 0em;
  margin-bottom: 1em;
}

input {
  margin-right: 4px;
  font-family: initial;
  padding: 1px 2px;
}

input[type="number"] {
  width: 140px;
}

input[type="text"] {
  width: 140px;
}

button {
  font-family: initial;
  padding: 1px 6px;
}

.task-list {
  display: block;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 1.15rem;
}

.task-list input[type="checkbox"] {
  margin-right: 6px;
  cursor: pointer;
}

.analytics-display {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1em;
}